/* home section  */

.top {
    background-color: #FAFAFA;
}

.header {
    display: flex;
    margin: 5px 300px;


}

.title {
    width: 50%;
}

.title h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 78.66px;
    font-family: 'Inter', sans-serif;

}

.title p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.btn1 {
    background-color: #FF5959;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 14px 12px;
    font-weight: 600;
    line-height: 18px;
    border: none;
    border-radius: 5px;

}

.btn2 {
    color: #707070;
    border: none;
    font-size: 15px;
    background-color: #fff;
    font-weight: 600;
    line-height: 18px;
}




.donate-img {
    width: 50%;
    position: relative;

}

.background {
    background-image: url("/assets/images/Ellipse\ 257.png"), url("/assets/images/Ellipse\ 256.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 400px;
    top: 100px;
    left: -65px;

    position: absolute;
    background: linear-gradient(180deg #f18b8b 0%, rgba(255, 89, 89, 0) 100%);
    z-index: -6;

}

img {
    width: 450px;
    height: 519px;
    margin-left: 100px;

}


/* =======================================  */

/* second section  */
.donate {
    text-align: center;
    margin-top: 130px;
}

.donate h1 {
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 54.46px;
    color: #121212;
    margin: 0;

}

.donate p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #707070;

}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;



}

.amount h3 {
    padding: 5px 20px;
    border-radius: 5px;
    font-family: 'inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;

}

.pay-1 {
    background-color: #FAFAFA;
    color: #707070;

}

.pay-2 {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    margin: 15px;
}

.pay-3 {
    background-color: #FAFAFA;
    color: #707070;

}

.pay-4 {
    background-color: #FAFAFA;
    color: #707070;
    margin: 15px;

}

.pay-5 {
    background-color: #FAFAFA;
    color: #707070;

}

.other-amount p {
    border-bottom: 1px solid #DADADA;
    width: 600px;
    margin-left: 550px;

}

.other-amount h1 {
    color: #B3B3B3;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 30px;

}

#donate-btn {
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 12px;
    margin-top: 10px;
    background-color: #FF5959;
    color: #fff;
    border: none;
    border-radius: 5px;

}

/* ==================================================== */
/* third section  */
.donate-plan {
    margin-top: 100px;
}

.donate-plan h1 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color: #121212;
    text-align: center;
    margin-bottom: 0;



}

.donate-plan p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #707070;
    text-align: center;
    margin-bottom: 60px;




}

.plan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5px 300px;
}

.food {
    height: 230px;
    width: 310px;
    border-radius: 5px;
    background-color: #4F9DA61A;
    padding: 55px 20px;

}

.food img {
    height: 49.77px;
    width: 58.13px;
    margin-left: auto;




}

.food h3 {
    font-family: ' Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

}

.food p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #707070;

}

.shelter {
    height: 230px;
    width: 310px;
    border-radius: 5px;
    background-color: #FF59591A;

    padding: 55px 20px;

}


.shelter img {
    height: 49.77px;
    width: 58.13px;
    margin-left: auto;

}

.shelter h3 {
    font-family: ' Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

}

.shelter p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #707070;
}

.education {
    height: 230px;
    width: 310px;
    border-radius: 5px;
    background-color: #fcf5d9;
    padding: 55px 20px;


}


.education img {
    height: 49.77px;
    width: 58.13px;
    margin-left: auto;

}

.education h3 {
    font-family: ' Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

}

.education p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #707070;
}

/* ============================================= */

/* fourth section  */
.no-more {
    display: flex;
    margin: 100px 300px;

}

.homeless {
    width: 50%;
}

.homeless h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;

    text-align: left;


}

.homeless p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #707070;


}

.homeless button {
    color: #fff;
    background-color: #FF5959;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 12px;
    border: none;
    border-radius: 5px;
    width: 50%;
}

.hunger {
    width: 50%;
    margin-right: 130px
}

.hunger img {
    width: 456px;
    height: 477px;
}